.section {
  min-height: 100vh;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

.container {
  height: fit-content;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: all 5s ease-in-out;
  position: relative;
}

.container_active {
  height: fit-content;

}

.imga {
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: .4s ease-in-out;
  border-radius: 20px;
  image-orientation: center;
}

.cardBox {
  position: relative;
  width: 350px;
  height: 450px;
  background: #fff;
  margin: 10px;
  padding: 10px;
  color: #ffa31a;
  border-radius: 20px;
  overflow: hidden;
}

.cardBox a {
  position: absolute;
  top: 25px;
  right: 10px;
  color: #333;
  font-weight: 700;
  transition: 0.2s;
  font-size: 12px;
}

.cardBox:hover a {
  opacity: 0;
}

.cardBox:hover .imga {
  transform: scale(1.3) translateY(-35px);
}

.cardBox:hover .imgBox {
  position: relative;
  box-shadow: 9px 26px 75px 26px rgba(51, 51, 51, 0.15) inset;
}

.cardBox:hover {
  border: 1px solid rgba(229, 103, 248, 0.7);
}

.imgBox {
  position: relative;
}
.cardBox::before
{
  content: '';
  margin: 0;
  padding: 0;
  left: 0;
  opacity: 1;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  box-shadow: #333 0px -64px 45px -28px inset;
}
.cardBox:hover .cardBox::before
{
  opacity: 0;
}
.cardBox h3 {
  color: #ffa31a;
  padding: 10px;
}

.cardBox h3 span {
  color: #333;
  margin-left: 5px;
}

.contetBox {
  position: absolute;
  width: 95%;
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  flex-direction: column;
  justify-content: end;
  border-radius: 20px;
  padding: 10px;
  transition: all 1s;
  color: white;
  height: auto;
  bottom: -250px;
}

.contetBox h3 {
  color: #ffa31a;
  text-shadow: 20px 20px 20px #fff;
  -webkit-text-stroke-color: #fff;
}

.cardBox:hover .contetBox {
  bottom: 10px;
}

.showToggle {
  background-color: #ffa31a;
  position: sticky;
  bottom: 50px;
  border-radius: 10px;
  padding: 5px 20px;
  position: relative;
  cursor: pointer;
  z-index: 1000000;
}
@media (min-width: 768px) {
  
}